* {
    margin: 0px;
    padding: 0px;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 40px;
}  


header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1c981a;
    grid-column: 1/4;
    grid-row: 1/2;
}
.name{
    grid-column: 1/2;
    text-align: center;
    padding: 10px; 
    color: bisque;
    font-size: 25px;
}
.inf{
    grid-column: 3/4;
    text-align: right;
    padding: 5px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/4;
    grid-row: 2/3;
    background: url('f.jpg') no-repeat;
}

footer{
    background-color: #1a6b24;
    grid-column: 1/4;
    grid-row: 3/4;
}
footer p {
    text-align: center;
    margin-top: 10px;
}
