* {
    margin: 0px;
    padding: 0px;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 40px;
}  


header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1c981a;
    grid-column: 1/4;
    grid-row: 1/2;
}
.name{
    grid-column: 1/2;
    text-align: center;
    padding: 10px; 
    color: bisque;
    font-size: 25px;
}
.inf{
    grid-column: 3/4;
    text-align: right;
    padding: 5px;
}


.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/4;
    grid-row: 2/3;
    background: url('f.jpg') no-repeat;
}
.block{
        grid-column: 2/3;
        background-color: #2b8636; 
        margin: 20px 0  20px 0;
}
legend{
    font-size: 25px;
    color: bisque;
    text-align: center;
}
label{
    margin-left: 20px;
}
span{
    margin-left: 20px;
}
button{
        padding: 10px 20px;
        margin-left: 130px;
        margin-top: 10px;
        background: #1c981a;
        border-width: 0;
        cursor: pointer; 
        outline: none;
        font-family: 'Playfair Display';
        font-size: 13px;
        letter-spacing: 1px;
        color: bisque;
        text-transform: uppercase;
        transition: 1s cubic-bezier(.165, .84, .44, 1);
      }

footer{
    background-color: #1a6b24;
    grid-column: 1/4;
    grid-row: 3/4;
}
footer p {
    text-align: center;
    margin-top: 10px;
}